* {
    background:     #1a1b26;
    background-alt: #1a1b26;
    foreground:     #FEFFF1ff;
    border:         #1a1b26;
    border-alt:     #45E3FF;
    selected:       #350250;
    urgent:         #350250;

}
